---
import Container from '@components/Container/Container'
import MainLayout from '@layouts/Main/Main'
import Intro from "../components/Intro/Intro.astro";
---

<MainLayout title="Главная">
  <div id="start">
    <h1>Start ContainerStart ContainerStart ContainerStart ContainerStart ContainerStart ContainerStart ContainerStart ContainerStart Container</h1>
  </div>
  <div id="cont" class="container">
    <h2>Заголовок</h2>
    <div id="textContainer">
      <div class="textelements revealed textelements--1">
        <h4>Ladder Frame Chassis</h4>
        <p>Every Jimny owes its off-roading prowess to the Ladder Frame structure. Now, it’s your turn to put it
          to the test. Pick your terrain. A thoroughbred off-roader, the torsional rigidity of this chassis
          instils confidence in the driver to master the toughest of topographies. While the full-width rigid
          axles in both the front and the rear, keeps you going like a mountain goat on the most impassable
          roads</p>
        <div class='imgelements imgelements--1'>
          <img src="https://i.ibb.co/JvDd07v/Jimny-Chassis.png" alt="" />
        </div>
      </div>
      <div class="textelements textelements--2">
        <h4>3-link Rigid Axle Suspension With Coil Spring</h4>
        <p>The long-stroke 3-link suspension is teamed with full-width rigid axles in both the front and rear.
          This coupled with less variation in ground clearance and high tyre grounding force enables you to
          conquer the toughest of terrains. With the rigid axle suspension, when an obstacle pushes one wheel
          up, the axle presses the other down, to increase tyre contact in rough road conditions.</p>
        <div class='imgelements imgelements--2'>
          <img src="https://i.ibb.co/rQTTfPz/Jimny-Suspension.png" alt="" />
        </div>
      </div>
      <div class="textelements textelements--3">
        <h4>Engine Performance</h4>
        <p>When you are setting forth into the unknown, the responsive 1.5L K15B engine powers you through.
          Built for off-roading, it generates strong torque throughout a wide RPM range for unstoppable
          performance.</p>
        <div class='imgelements imgelements--3'>
          <img src="https://i.ibb.co/QdkQmdQ/Jimny-Engine.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div id="finish">
    <h1>Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container Finish Container </h1>
  </div>
</MainLayout>
