---
import Container from '@components/Container/Container'
import MainLayout from '@layouts/Main/Main'
import Intro from "../components/Intro/Intro.astro";
---

<MainLayout title="Главная">
  <div class="container">
    <span class="progress"></span>
    <div class="container__sticky">
      <h1 class="container__title title" data-sticky-title>
        <span>h</span>
        <span>e</span>
        <span>l</span>
        <span>l</span>
        <span>o</span>
      </h1>
    </div>
  </div>

</MainLayout>
